.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--body-padding);
  padding-block: 0.5rem;
}

.logo__container,
.section__left,
.section__right,
.links__container {
  display: flex;
  align-items: center;
}
.links__container,
.section__right {
  gap: 1.5rem;
}

.link__item {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--Grayish-Violet);
}
